@import "tailwindcss";

/*Peyda Font Family Persian Number Version*/
@layer base {
  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Thin.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Thin.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Thin.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-ExtraLight.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-ExtraLight.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-ExtraLight.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Light.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Light.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Light.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Regular.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Regular.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Medium.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Medium.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-SemiBold.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-SemiBold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Bold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-ExtraBold.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-ExtraBold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Black.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Black.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Black.woff") format("woff");
  }
}

@layer base {
  body {
    font-family: "PeydaFaNumber", sans-serif;
    font-feature-settings: "ss01" 1;
    font-variant-ligatures: discretionary-ligatures;
  }

  svg {
    width: inherit;
    height: inherit;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@theme {
  --color-cynWhite: #ffffff;
  --color-cynBlue: #08104f;
  --color-cynLightBlue: #d2d4e5;
  --color-cynBlack: #303030;
  --color-cynLighter: #808080;
  --color-cynLightGrey: #f8f8fa;
  --color-cynBorder: #e7e7e7;
}

.btn-primary {
  @apply bg-cynLightBlue text-cynBlack rounded-full transition-all duration-300;
}

.btn-primary:hover {
  @apply bg-cynBlue text-cynWhite;
}

.btn-secondary {
  @apply bg-cynBlue text-cynWhite rounded-full transition-all duration-300;
}

.btn-secondary:hover {
  @apply bg-cynLightBlue text-cynBlack;
}

/*-------mobile-menu---------*/
#mobile-menu li {
  position: relative;
}

#mobile-menu > li {
  @apply w-full mx-auto;
}

#mobile-menu li a {
  display: block;
}

#mobile-menu li ul {
  display: none;
  position: static; /* یا absolute برای حالت‌های خاص */
  width: 100%;
}

#mobile-menu .sub-menu-toggle {
  display: none;
  cursor: pointer;
}

#mobile-menu i {
  float: left;
  width: 100%;
  text-align: left;
  left: 0;
  position: absolute;
  z-index: 0;
  line-height: 0;
  font-style: normal;
}

#mobile-menu .menu-item-has-children > .sub-menu-toggle {
  display: block;
}

/*-------main-menu---------*/
#main-menu li {
  position: relative;
}

#main-menu li ul {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(100% - -25px);
  right: 0;
  list-style: none;
  margin: 0;
  background: #ffffff;
  @apply rounded-2xl p-3 flex flex-col gap-2;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#main-menu li.menu-item-has-children:hover::after {
  content: "";
  position: absolute;
  top: 62%;
  left: 0;
  right: 0;
  height: 2.5rem;
  min-width: 13rem;
  z-index: 1;
  pointer-events: auto;
}

#main-menu li ul li {
  min-width: 18rem;
  @apply text-xs font-normal border border-[#EBEBEB] rounded-xl;
}

#main-menu li ul li:hover {
  @apply bg-cynBlue text-white;
}

#main-menu li a {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
}
#main-menu li ul li a {
  padding: 0.625rem;
  display: block;
}

#main-menu li:hover > ul {
  pointer-events: all;
  opacity: 1;
}
#main-menu li ul li ul {
  top: 0;
  right: 100%;
}

#main-menu li ul li:hover > ul {
  display: block;
}

#main-menu li.menu-item-has-children > a {
  @apply flex justify-center items-center;
}

#main-menu li.menu-item-has-children a:hover > div {
  @apply rotate-180 transition-all duration-150;
}

#main-menu li.menu-item-has-children:hover > a > div {
  @apply rotate-180 transition-all duration-150;
}

#main-menu li {
  @apply transition-all duration-300 relative;
}

#main-menu > li:hover::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #08104f;
  color: #fff;
  position: absolute;
  top: 53%;
  right: -8px;
  transform: translateY(-50%);
}

#main-menu > li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #08104f;
  color: #fff;
  position: absolute;
  top: 53%;
  right: -8px;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#main-menu > li:hover::before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
